body{
    font-size: medium;
}

#left-navbar{
    height: 100%;
    position: fixed;
    width: 20%;
    background-color:black;
    left: 0;
    top: 0;
}

#right-navbar{
    height: 100%;
    position: fixed;
    width: 20%;
    right: 0;
    background-color: black;
    top: 0;
    text-align: center;
    color: rgb(228, 223, 223);
}

#right-navbar img{
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
}

#centro{
    width: 60%;
    position: fixed;
    height: 100%;
    right: 20%;
    left: 20%;
    background-color: rgb(17, 17, 17);
    top: 0;
    color: rgb(228, 223, 223);
}

.card { 
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin-left: 30%;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    color: rgb(228, 223, 223);  
    padding: 2px 16px;
}
