body{
    font-size: medium;
}

#left-navbar{
    height: 100%;
    position: fixed;
    width: 25%;
    background-color:black;
    left: 0;
    top: 0;
}

form{
    width: 50%;
    margin: auto;
    color: white;
}

#left-navbar img{
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
}

input{
    border: 3px solid rgb(46, 45, 45);
    border-radius: 5px;
}

input:hover{
    background-color: rgb(210, 201, 201);
    color: black;
}

label{
    color: white;
}
