body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: rgb(233, 230, 230);
    background-image: url("./images/bgindex.png");
    background-size: auto;
    background-repeat: no-repeat;
}

#logo_sito img{
    padding-bottom: 25px;
    width: 150px;
    height: 100px;
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
}

form{
    border: 2px solid rgb(53, 52, 52);
    width:250px;
    margin:0 auto;
    padding: 20px;
    border-radius: 10px;
}

input{
    width: 240px;
    height: 25px;
    border: 1.5px solid lightgray;
    display: block;
    margin: auto;
}

#bottone{
    color: black;
    font-size: 1.2em;
    border: 1.5px solid lightgray;
    background-color:white;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#bottone:hover{
    color: white;
    background-color: black;
}

label{
    display: block;  
    text-align: center;
}

#sign_up{
    font-size: 0.9em;
    padding-top: 5px;
    text-align: center;
}

#sign_up a {
    color:rgb(2, 2, 131);
}

#sign_up a:hover {
    text-decoration: underline;
}

footer{
    padding-top: 15%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 0;
    flex-wrap: wrap;
}

#foot a{
    color: rgb(5, 5, 90);
    padding-right: 10px;
}

#copy{
    text-align: center;
    font-size: 0.9em;
    color: rgb(162, 162, 162);
}

@media screen and (max-width: 1100px) {

    footer{
    justify-content: center;
    }
    
    #foot a{
        display: none;
    }
}