body{
    font-size: medium;
    background-color: rgb(17, 17, 17);
}

#left-navbar{
    height: 100%;
    position: fixed;
    width: 20%;
    background-color:black;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
}

#left-navbar img{
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
}

#tabella{
    width: 80%;
    position: fixed;
    height: 100%;
    right: 80%;
    left: 20%;
    background-color: rgb(17, 17, 17);
    top: 50px;
    color: rgb(228, 223, 223);
    overflow-y: auto;
}

#tabella table{
    margin: auto;
    width: 80%;
    border: 2px solid black ;
    border-collapse: collapse;
    border-radius: 5px;
}

td{
    padding: 10px;
}

th{
    padding: 7px 0px;
    font-size: larger;
}

#pro_pic{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
